body {
    background-color: #202731;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #9ACFDD;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: white;
}

.counter{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: "arial", sans-serif;
    font-size: 200px;
    color: white;
}

.btns{
    display: space-between;
    align-items: center;
}

button{
    padding: 10px 20px;
    background-color: #9ACFDD;
    color: whitesmoke;
    border: none;
}
